
{% block body %}
  <h1>Let there Be</h1>
  {% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}

      <a href="{{ content['response'].json()['html_url'] }}"><img src="{{ content['response'].json()['avatar_url'] }}"></a>
      <h2> Hi {{ content['response'].json()['login'] }} </h2>

<form method="POST" action="/">
    {{ form.hidden_tag() }}
    {{ form.org.label }} {{ form.org(size=20) }}
    {{ form.name.label }} {{ form.name(size=20) }}
    {{ form.language.label }} {{ form.language(size=20) }}

    <input type="submit" value="Go">
</form>
{% endblock %}
